[submodule ".config/images"]
	path = .config/images
	url = https://github.com/marcosalvi-01/images.git
[submodule ".config/opencode/skills"]
	path = .config/opencode/skills
	url = https://github.com/marcosalvi-01/skills.git
[submodule ".config/ghostty/ghostty-shaders"]
	path = .config/ghostty/ghostty-shaders
	url = https://github.com/0xhckr/ghostty-shaders.git
