[core]
    editor = nvim
    excludesfile = ~/.gitignore_global

[color]
    ui = auto

[fetch]
    prune = true

[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[user]
	email = 1marco.salvi@gmail.com
	name = Marco Salvi
