.app {
    background-color: #282828;
    border-color: #a89984;
}

.scrollbar {
    background-color: #282828;
}

.scrollbar slider {
    background-color: #504945;
    border-radius: 4px;
}

.scrollbar slider:hover {
    background-color: #a89984;
}

/* Selected entry styling */
.selected.item-box {
    background-color: #504945;
    border-radius: 8px; /* Rounded corners */
    border-left: 1px solid #a89984;
    border-right: 1px solid #a89984;
    padding: 8px; /* Increase padding */
    margin-left: 8px; /* Add left margin */
    margin-right: 8px; /* Add right margin */
}

.selected.item-box .item-text {
    color: #a9b665;
    padding: 4px; /* Add padding to text */
}

.selected.item-box .item-name {
    color: #a9b665;
}

.selected.item-box .item-shortcut {
    color: #a9b665;
    text-shadow: 1px 1px 1px #504945;
}

.item-text {
    color: #a89984;
}

.item-name {
    color: #ddc7a1;
}

.item-shortcut {
    color: #ddc7a1;
    text-shadow: 1px 1px 1px #504945;
}

/* Preferences button */
.prefs-btn {
    opacity: 0.8;
}

.prefs-btn:hover {
    background-color: #ddc7a1;
}

