# vim:fileencoding=utf-8:foldmethod=marker

# : Manager {{{

[mgr]
cwd = { fg = "#7daea3" }

find_keyword  = { fg = "#d8a657", italic = true, bold = true}
find_position = { fg = "#d3869b", bg = "reset", italic = true, bold = true }

marker_selected = { fg = "#d8a657", bg = "#d8a657" }
marker_copied   = { fg = "#d8a657", bg = "#d8a657" }
marker_cut      = { fg = "#ea6962", bg = "#ea6962" }

count_copied   = { fg = "#282828", bg = "#8ec07c", bold = true }
count_cut      = { fg = "#282828", bg = "#ea6962",  bold = true }
count_selected = { fg = "#282828", bg = "#d8a657",  bold = true }


border_style  = { fg = "#ddc7a1" }

# : }}}

# : Indicator {{{

[tabs]
tab_active   = { fg = "#ddc7a1", bg = "#45403d" }
tab_inactive = { fg = "#a89984", bg = "#3c3836" }

[indicator]
current = { fg = "#282828", bg = "#7daea3", bold = true }
preview = { underline = true }

# : }}}

# : Status {{{

[status]
separator_open  = ""
separator_close = ""
separator_style = { fg = "#3c3836", bg = "#3c3836" }

progress_label  = { fg = "#ddc7a1", bold = true }
progress_normal = { fg = "#504945", bg = "#282828" }
progress_error  = { fg = "#ea6962", bg = "#282828" }

permissions_t = { fg = "#504945" }
permissions_r = { fg = "#b8bb26" }
permissions_w = { fg = "#fb4934" }
permissions_x = { fg = "#b8bb26" }
permissions_s = { fg = "#665c54" }

# : }}}

# : mode {{{

[mode]
normal_main = { fg = "#282828", bg = "#8ec07c", bold = true }
normal_alt  = { fg = "#ddc7a1", bg = "#504945", bold = true }

select_main = { fg = "#282828", bg = "#d8a657", bold = true }
select_alt  = { fg = "#ddc7a1", bg = "#504945", bold = true }

unset_main  = { fg = "#282828", bg = "#d3869b", bold = true }
unset_alt   = { fg = "#ddc7a1", bg = "#504945", bold = true }

# : }}}

# : Input {{{

[input]
border   = { fg = "#ddc7a1" }
title    = { fg = "#7daea3" }
value    = {}
selected = { reversed = true }

# : }}}

# : Select {{{

[select]
border   = { fg = "#ddc7a1" }
active   = { fg = "#7daea3" }
inactive = {}

# : }}}

# : Tasks {{{

[tasks]
border  = { fg = "#504945" }
title   = {}
hovered = { underline = true }

# : }}}

# : Which {{{

[which]
mask            = { bg = "#282828" }
cand            = { fg = "#8ec07c" }
rest            = { fg = "#ddc7a1" }
desc            = { fg = "#ea6962" }
separator       = "  "
separator_style = { fg = "#504945" }

# : }}}

# : Help {{{

[help]
on      = { fg = "#ea6962" }
exec    = { fg = "#8ec07c" }
desc    = { fg = "#ddc7a1" }
hovered = { bg = "#504945", bold = true }
footer  = { fg = "#282828", bg = "#a89984" }

# : }}}

# : File-specific styles {{{

[filetype]

rules = [
    { mime = "image/*", fg = "#7daea3" },

    { mime = "video/*", fg = "#8ec07c" },
    { mime = "audio/*", fg = "#8ec07c" },

    { mime = "application/zip",             fg = "#ea6962" },
    { mime = "application/gzip",            fg = "#ea6962" },
    { mime = "application/x-tar",           fg = "#ea6962" },
    { mime = "application/x-bzip",          fg = "#ea6962" },
    { mime = "application/x-bzip2",         fg = "#ea6962" },
    { mime = "application/x-7z-compressed", fg = "#ea6962" },
    { mime = "application/x-rar",           fg = "#ea6962" },

    { url = "*", fg = "#ddc7a1" },
    { url = "*/", fg = "#8ec07c" }
]

# : }}}
